body {
    background:#ffffff;
	margin: 0px;
}

.static_title {
	text-align:right;
	font-family:sans;
	font-style:italic;
	margin: 64px 40px 10px 40px;
}

.changing_title {
	text-align:right;
	font-family:sans;
	font-style:italic;
	margin:64px 40px 2px 40px;
}

.changing_title_base {
	height:10px;
	border-bottom:1px solid #ff7f2a;
	border-left:1px solid #ff7f2a;
	border-right:1px solid #ff7f2a;
	margin:-10px 30px 10px 30px;
}

.spacer {
	clear:both;
}

.control_button {
    float:left;
    background:#4d4d4d;
}

.third {
    width:33.33333333333%;
}

.half {
	width:50%;
}

.control_button:active {
    background:#808080;
}

.control_button img {
	width:32px;
    margin:20px auto;
	display:block;
}

